.fadeInContainer {
  position: relative;
}

.fadeIn:nth-of-type(1) {
  animation-delay: .5s;
}

.fadeIn:nth-of-type(2) {
  animation-delay: 1s;
}

.fadeIn:nth-of-type(3) {
  animation-delay: 1.5s;
}

.fadeIn:nth-of-type(4) {
  animation-delay: 2s;
}

.fadeIn:nth-of-type(5) {
  animation-delay: 2.5s;
}

.fadeIn {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  position: relative;
  opacity: 0;
}

@keyframes fadeInAnimation {
  0% {
    bottom: 20px;
    opacity: 0;
  }
  100% {
    bottom: 0px;
    opacity: 1;
  }
}